/* header */
header {
  background-color: var(--color-white--);
  color: var(--color-black);
  width: 100%;
  margin: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: capitalize;
  position: sticky;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px;
}
/* nav */
header > nav {
  display: flex;
  align-items: center;
}
/* nav > a */
header > nav > a {
  text-decoration: none;
  color: var(--color-black);
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 300;
}
/* nav--a */
#nav--a {
  background-color: var(--bg-button--);
  color: var(--color-white--);
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  transition: 0.5s;
}
#nav--a:hover {
  background-color: var(--bg-button-hover--);
}
/* header > svg */
header > svg {
  display: none;
}
/* section subheader */
section.subheader {
  width: 100%;
  background-color: var(--bg-subheader--);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 3rem 5rem;
}
/* subheader > h1 */
section.subheader > h1 {
  text-align: center;
  width: 60%;
  margin: 0;
  padding: 2rem;
  font-weight: 300;
  font-size: 3rem;
}
/* subheader > p */
section.subheader > p {
  text-align: center;
  width: 70%;
  margin: 0;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.8;
}
/* subheader > img */
section.subheader > img {
  width: 100%;
  padding: 1rem;
}
/* subheader > button */
section.subheader > button {
  background-color: var(--bg-button--);
  color: var(--color-white--);
  border-radius: 2rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1rem;
  margin: 3rem;
  text-transform: capitalize;
}
/* subheader > button:hover */
section.subheader > button:hover {
  background-color: var(--bg-button-hover--);
}
/* section part1 */
section.part1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 3rem 5rem;
}
/* part1 > h1 */
section.part1 > h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  margin: 0;
  padding: 2rem 0;
}
/* part1 > p */
section.part1 > p {
  text-align: center;
  width: 55%;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
  line-height: 1.8;
}
