/* header */
header {
  background-color: var(--color-white--);
  width: 100%;
  margin: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px;
  height: 100px;
}
/* header > nav */
header > nav {
  display: none;
}
/* section subheader */
section.subheader {
  background-color: var(--bg-subheader--);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 2rem;
}
/* subheader > h1 */
section.subheader > h1 {
  text-align: center;
  margin: 0;
  padding: 2rem 0;
  width: 100%;
  font-weight: 300;
  font-size: 2.5rem;
}
/* subheader > p */
section.subheader > p {
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  width: 100%;
  line-height: 1.8;
  font-size: 1.1rem;
}
/* subheader > img */
section.subheader > img {
  width: 100%;
  padding: 1rem 0;
}
/* subheader > button */
section.subheader > button {
  background-color: var(--bg-button--);
  color: var(--color-white--);
  outline: none;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  padding: 1rem 2.5rem;
  margin: 2rem;
  text-transform: capitalize;
}
/* section part1 */
section.part1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 3rem 0;
}
/* part1 > h1 */
section.part1 > h1 {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 2rem 0.5rem;
  font-size: 2.5rem;
  font-weight: 300;
}
/* part1 > p */
section.part1 > p {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0 1rem;
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 300;
}
/* section .boxes */
section.boxes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 0;
  padding: 1rem;
}
/* section .boxes > div.box */
div.box {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0;
  padding: 3rem 1rem;
}
/* div.box1 */
div.box1 {
  background-image: url("../static/card\ img/slide 1.webp");
  background-repeat: no-repeat;
  background-size: contain;
}
/* div.box2 */
div.box2 {
  background-image: url("../static/card\ img/slide 2.webp");
  background-repeat: no-repeat;
  background-size: contain;
}
/* div.box3 */
div.box3 {
  background-image: url("../static/card\ img/slide 3.webp");
  background-repeat: no-repeat;
  background-size: contain;
}
/* div.box4 */
div.box4 {
  background-image: url("../static/card\ img/slide 4.webp");
  background-repeat: no-repeat;
  background-size: contain;
}
/* div.box5 */
div.box5 {
  background-image: url("../static/card\ img/slide 5.webp");
  background-repeat: no-repeat;
  background-size: contain;
}
/* div.box6 */
div.box6 {
  background-image: url("../static/card\ img/slide 6.webp");
  background-repeat: no-repeat;
  background-size: contain;
}
/* section .boxes > .box > button */
section.boxes > .box > button {
  border: none;
  outline: none;
  padding: 1rem 3rem;
  margin: 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
  background-color: var(--color-white--);
  opacity: 0;
  transition: 0.5s;
  font-size: 1rem;
}
/* .box > .unique-button */
.unique-button {
  background-color: var(--bg-button--) !important;
  color: var(--color-white--) !important;
}
/* section.buttons */
section.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 2rem 0;
}
/* section.buttons > button */
section.buttons > button {
  background-color: var(--bg-button--);
  color: var(--color-white--);
  border-radius: 2rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  margin: 1rem;
  text-transform: capitalize;
}
/* section.part2 */
section.part2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2rem 0;
}
/* section.part2 > .part2__content1 */
section.part2 > .part2__content1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 1rem 0 2rem;
}
/* section.part2 > .part2__content1 > h1 */
section.part2 > .part2__content1 > h1 {
  text-align: center;
  margin: 0;
  font-size: 2.5rem;
  font-weight: 300;
}
/* section.part2 > .part2__content2 */
section.part2 > .part2__content2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  padding: 1rem 0 2rem;
}
/* section.part2 > .part2__content2 > p */
section.part2 > .part2__content2 > p {
  text-align: center;
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 0 0 2rem;
}
/* section.part2 > .part2__content2 > button */
section.part2 > .part2__content2 > button {
  background-color: var(--bg-button--);
  color: var(--color-white--);
  border-radius: 2rem;
  padding: 1rem 3rem;
  border: none;
  outline: none;
  font-size: 1rem;
  text-transform: capitalize;
}
/* section.part3 */
section.part3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 1rem 0 3rem;
}
/* section.part3 > h1 */
section.part3 > h1 {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 300;
  margin: 0;
  padding: 1rem 0;
}
/* section.part3 > p */
section.part3 > p {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: 1rem 0;
}
/* main */
main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}
/* main > figure */
main > figure {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* main > figure > img */
main > figure > img {
  width: 90%;
}
/* main > figcaption */
main > figcaption {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}
/* main > figcaption > h1 */
main > figcaption > h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
}
/* main > figcaption > p */
main > figcaption > p {
  text-align: center;
  font-weight: 400;
  line-height: 1.7;
  padding: 0 1rem;
}
/* main > figcaption > button */
main > figcaption > button {
  background-color: var(--bg-button--);
  color: var(--color-white--);
  border-radius: 2rem;
  padding: 1rem 2.5rem;
  margin: 1rem 0;
  border: none;
  outline: none;
  text-transform: capitalize;
}
